version: '3.8'
# docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d

services:
  app:
    environment:
      - ENV=production
      - JWT_SECRET=${JWT_SECRET}  # обязательно установить в проде
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  postgres:
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}  # установи (нельзя отсавлять дефолтный как в dev)
    restart: always
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G

